env/*
*.pyc
*.db
__pycache__/components.cpython-38.pyc
__pycache__/dialogs.cpython-38.pyc
__pycache__/main.cpython-38.pyc
__pycache__/managers.cpython-38.pyc
__pycache__/tables.cpython-38.pyc
__pycache__/tools.cpython-38.pyc
